.welcome__screen{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(87, 22, 10, 0.507), rgba(220, 81, 35, 0.602)), url('../images/join__page__banner.jpg'); 
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome__screen > h1{
  color: #ffffff;
  font-size: 30px;
  width: 60%;
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
}
.welcome__screen > p{
  color: #fafafa;
  font-size: 16px;
  width: 50%;
  text-align: center;
}